SECRET_KEY=change-this
JWT_SECRET_KEY=change-this-too
DATABASE_URL=sqlite:///codeofcrime.db
FRONTEND_URL=http://localhost:5173
CERTIFICATES_DIR=certificates
PASS_THRESHOLD_PERCENT=70

MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=true
MAIL_USE_SSL=false
MAIL_USERNAME=codeofcrime82@gmail.com
MAIL_PASSWORD=xsxjjtapadgtdrxz
MAIL_DEFAULT_SENDER=your-gmail@gmail.com

ADMIN_EMAILS=codeofcrime82@gmail.com,mihirkumarpanigrahi2002@gmail.com

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
